body{
    background-color: #FFEEDF;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button{
    background-color: #1C5A4E;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    color: #FFEEDF;
    font-family: 'Montserrat', sans-serif;
    font-size: 200px;
    text-align: center;
}